# setting
.devcontainer/
.vscode/
log.log
opt/.DS_Store
opt/.bash_history
opt/.cache/
opt/.jupyter/
opt/.local/
opt/.python_history
opt/chapter3/__pycache__/
opt/chapter3/.DS_Store
.DS_Store

# jupyter checkpoint
opt/.ipynb_checkpoints/
opt/chapter3/.ipynb_checkpoints/

# data
opt/chapter3/dogs_vs_cats/
opt/chapter3/dogs-vs-cats-redux-kernels-edition.zip

# global env
opt/chapter3/requirements_global.txt
opt/python

# env for gpu
for_gpu/